$text-primary-color: #372e11;
$text-secondary-color: #9b9b99;
$text-contrast-color: #fffbed;

$input-bg-color: #fff8e1;
$input-text-color: #372e11;
$input-placeholder-color: #8e825c;

$checkbox-bg-color: #0e493f;
$checkbox-icon-color: #fff;

$bg-light-color: #fffbed;
$bg-dark-color: #372e11;

$btn-primary-bg-color: #ffe182;
$btn-primary-text-color: #372e11;
$btn-secondary-bg-color: #ededed;
$btn-secondary-text-color: #372e11;
$btn-outlined-br-color: #000;
$btn-outlined-text-color: #372e11;

$xs: 320px;
$sm: 576px;
$md: 767px;
$lg: 1199px;
$xl: 1920px;

$container-width-lg: rem(1500);
$container-width-md: rem(1220);
$container-width-sm: rem(967);
